/* navbar */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header.open {
  transform: translateX(-100%);
}
header {
  position: fixed;
  background-color: #7ea8c4;
  right: -150px;
  height: 100%;
  padding: 1rem;
  width: 150px;
  transition: 0.2s transform;
}

header span {
  color: #ebecea;
}

header img {
  height: 30px;
  width: 50px;
}

header nav {
  margin: 1.5rem 0;
}

header nav a {
  display: block;
<<<<<<< HEAD:style.css
  color: black;
=======
  color: #ebecea;
>>>>>>> 9dfd960aa0fee32b1e52b01f07ce44f19784a0e8:css/style.css
  text-decoration: none;
  margin: 0.5rem;
}

@media only screen and (min-width: 768px) {
  #menu {
    display: none;
  }
  header {
    position: sticky;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: none;
  }
  header nav {
    display: flex;
    gap: 0.5rem;
    margin: 0;
  }
  header nav a {
    margin: 0;
  }
  header.open {
    transform: translateX(0);
  }
}

/* footer */

footer {
  background-color: #7ea8c4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-content {
  display: flex;
  width: 800px;
  justify-content: space-between;
  margin-bottom: 50px;
}

footer .footer-content div {
  display: flex;
  flex-direction: column;
  color: #ebecea;
}

footer .footer-content div a {
  text-decoration: none;
  color: #ebecea;
}

footer p {
  color: #ebecea;
  font-size: 12px;
}
